.Ajouter {
  width: 80%;
  background-color: #cbe4de;
  padding: 30px;
  margin: auto;
  border-radius: 10px;
  text-align: left;
}

.submit {
  text-align: right;
}
.submit input {
  border: 0;
  padding: 10px 15px;
  background-color: #dc8449;
  color: white;
  margin: 5px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}
.submit input:disabled {
  opacity: 0.3;
  cursor: not-allowed;
  pointer-events: none;
}
.submit input:focus,
.submit input:hover {
  background-color: #d3450d;
}
