.NavigationItem {
  margin: 10px;
}

.NavigationItem a {
  text-decoration: none;
  color: #3e54ac;
}

.NavigationItem a:hover,
.NavigationItem a:focus,
.NavigationItem a.active {
  color: #dc8449;
  font-weight: bold;
}
