.Navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.logout {
  border: 0;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  background-color: #dc8449;
  color: white;
}
.logout:hover {
  background-color: #d3450d;
}
